.lesson_table {
  background-color: brown;
}
.studies {
  background-color: cornflowerblue;
}
iframe {
  width: 1000px;
  height: 500px;
h1 {
    color: ;
}

#site-name {
    color: darkblue;
}
h2 {
    color: green;
}
.# {
    background-color: green;
}